# MySQL连接配置
DB_HOST=xxx
DB_PORT=13306
DB_USER=root
DB_PASSWORD=xxx
DB_NAME=xxx

PROJECT_NAME=my-new-app
APP_PORT=8000

# === 镜像构建配置 ===
DOCKER_REGISTRY=registry.cn-shenzhen.aliyuncs.com/your-namespace
# 镜像版本标签
IMAGE_TAG=v1.0.0

#NACOS连接配置
ENABLE_NACOS = False
NACOS_SERVER_ADDR=xxx
NACOS_NAMESPACE=xxxx
NACOS_USERNAME=xxx
NACOS_PASSWORD=xxxx
SERVICE_GROUP=xxxx
#OSS相关配置
ALIYUN_OSS_ENDPOINT=oss-cn-shenzhen.aliyuncs.com
ALIYUN_OSS_BUCKET_NAME=your_bucket_name
ALIYUN_OSS_ACCESS_KEY_ID=your_access_key_id
ALIYUN_OSS_ACCESS_KEY_SECRET=your_access_key_secret

#REDIS相关配置
REDIS_HOST=xxxx
REDIS_PORT=6379
REDIS_PASSWORD=xxxx
REDIS_DB=0

#多进程的任务数
PDF_CONVERT_MAX_WORKERS=10

#日志级别
LOG_LEVEL=INFO

#区域
REGION=hongkong

#运行模式
RUN_MODE=local


